/*-------------*/
/* 用户登录界面CSS */
/*-------------*/

/* 居中  */
.center { 
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	width:400px; 
	height:100px;
}

/* 登录按钮 */
.loginBtn {
	margin-left: 20px;
	background-color: orange;
	border-width: 0px;
	color: white;
}

/* 用户输入框  */
.inputFrame {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

/* 注册 */
.reg {
	color: blue;
}

